body {
  padding-top: 5rem;
}

.top {
  background: linear-gradient(to bottom, purple 95%, white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.bottom {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
}
p {
  color: white;
}

img {
  border-radius: 50%;
  width: 300px;
}

.bottom h1,
p {
  color: black;
}

.profile-stats {
  margin: 20px 0;
  display: flex;
  gap: 2rem;
}

button {
  background-color: purple;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
}
